.pagina-echipa {
    margin-top: 2%;
    .container-angajati {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh; 
        margin-bottom: 7%;
    }
}
