.footer {
  background-color: #252525;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  width: 100%;
  bottom: 0;


  .container {
    width: 80%;
    margin: auto;


    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .col-md-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }


  a {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      text-decoration: none;
    }
  }
}